header{
    background-image: url(image/ohmyfood.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 230px;
    width: 100%;
    height: 70px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
     text-align: center;
     img{
      align-content: center;
      margin: auto;
      width: 40%;
    
  }
  }
  