nav{
    width: 30%;
    margin: auto;
    margin-bottom: 70px;
    margin-top: 50px; 
    h2{
        margin-bottom: 30px;
        font-size: 2.8em;
    } 
    .choix{
        display: flex;
        align-items: center;
        background-color: #eeeeee;
        border-radius: 20px;
        margin-bottom: 20px;
        height: 60px;
        box-shadow: 0px 0px 12px 3px #cececffa;
        font-weight: bold;
    .number{
        background-color: $color-prim;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 25px;
        color: $color-white;
        }
        .number, i{
        margin-right: 25px;
        margin-left: -10px;   
        }    
    }
}
.fas{
color: $color-logo_fas;
}
.fa-store{
    color: $color-prim;
    
   
}
nav .choix-3{
    background-color:$color-choix3;
}
h2{
    font-family: 'robotoregular';
    text-align: center;
    font-size: 1.8em;
    margin-top: 50px;
    }
    
    .text{
    font-family: 'robotoregular';
    font-size: 1.3em;
    text-align: center;
    justify-content: center;
    color: $color-logo_fas;
    }