/*---annimation menu---*/
body {
  margin: 0px;
  padding: 0px;
}

.page {
  width: 25%;
  margin-left: 0px;
  margin: auto;
  cursor: pointer;
}

.header i {
  margin-right: 20px;
  margin-top: 20px;
  margin-left: 5px;
}

header .fleche {
  color: black;
}

/*--  image menu--*/
.img img {
  width: 100%;
}

/*-- carte des menus --*/
/*-- debut--*/
/*-- contour de carte --*/
.carte_menu {
  width: 100%;
  height: 1320px;
  background-color: #f6f6f6;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  margin-top: -54px;
  position: relative;
}

/*-- titre + logo coeur --*/
.title {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.title i {
  width: 100%;
  font-size: 35px;
  font-weight: lighter;
  text-align: right;
  margin-right: 35px;
}
.title h1 {
  font-family: "shrikhandregular", sans-serif;
  margin-bottom: 25px;
  align-items: center;
  margin-right: 50px;
  font-size: 2em;
  font-weight: lighter;
}

.entree, .main-dish, .dessert {
  margin-left: 15px;
}

.menu {
  display: flex;
  width: 680px;
  border-radius: 15px;
  height: 70px;
  font-family: "roboto", sans-serif;
  box-shadow: 0px 0px 20px #bdbcbc;
  margin-bottom: 15px;
}

.btn {
  width: 95%;
  height: 90px;
  box-shadow: 0px 0px 20px #bdbcbc;
  border-radius: 15px;
  font-family: "roboto", sans-serif;
  display: flex;
  margin-bottom: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex-grow: 1;
}
.btn .detail p {
  /*--- police ecriture menu--*/
  font-size: 18px;
  font-weight: bold;
  width: 264px;
  padding-left: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.btn .detail p span {
  font-weight: 300;
  font-size: 16px;
}
.btn .prix {
  width: 120px;
  display: flex;
  margin-left: 10px;
  justify-content: center;
  align-items: flex-end;
  font-size: 20px;
  font-weight: bold;
}
.btn .animation {
  background-color: #99e2c0;
  color: white;
  justify-content: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn .circle {
  font-size: 1.2em;
  transition: 700ms;
  opacity: 0;
}

.title .restaurant-carre {
  margin-left: 139px;
  margin-top: -52px;
  left: 10px;
  zoom: 1.05;
  opacity: 1;
  animation-name: svg;
  animation-duration: 2000ms;
  clip-path: url(#restaurant-path-heart);
}

.title .restaurant-carre:hover {
  opacity: 1;
  animation-iteration-count: infinite;
  animation-duration: 2000ms;
}

/*-- carte des menu --*/
/*-- fin-- */
.entree {
  opacity: 0;
  animation-name: entree;
  animation-duration: 800ms;
  animation-fill-mode: both;
}
@keyframes entree {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-dish {
  opacity: 0;
  animation-name: main-dish;
  animation-timing-function: cubic-bezier(0.33, 0, 0.15, 0.99);
  animation-duration: 800ms;
  animation-delay: 300ms;
  animation-fill-mode: both;
}
@keyframes main-dish {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dessert {
  opacity: 0;
  animation-name: dessert;
  animation-timing-function: cubic-bezier(0.33, 0, 0.15, 0.99);
  animation-duration: 800ms;
  animation-delay: 700ms;
  animation-fill-mode: both;
}
@keyframes dessert {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes svg {
  0% {
    background-color: white;
  }
  10% {
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 10%, white 0%);
  }
  15% {
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 15%, white 5%);
  }
  20% {
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 20%, white 10%);
  }
  25% {
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 25%, white 15%);
  }
  30% {
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 30%, white 20%);
  }
  35% {
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 35%, white 25%);
  }
  40% {
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 40%, white 30%);
  }
  45% {
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 45%, white 35%);
  }
  50% {
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 50%, white 40%);
  }
  55% {
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 55%, white 45%);
  }
  60% {
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 60%, white 50%);
  }
  65% {
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 65%, white 55%);
  }
  70% {
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 70%, white 60%);
  }
  75% {
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 75%, white 65%);
  }
  80% {
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 80%, white 70%);
  }
  85% {
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 85%, white 75%);
  }
  90% {
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 90%, white 80%);
  }
  95% {
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 95%, white 85%);
  }
  100% {
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 100%, white 90%);
  }
}
.envoi {
  width: 250px;
  position: relative;
  margin: auto;
  z-index: 30;
}
.envoi .explore {
  width: 240px;
  font-size: 1.8em;
  margin-top: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  border: transparent;
  height: 60px;
  color: white;
}

.btn .detail p {
  width: 238px;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}
header i {
  margin-left: 40px;
  font-size: 25px;
}
header img {
  width: 250px;
  height: 50px;
  margin: auto;
  margin-left: 0px;
}

.footer {
  width: 100%;
  background-color: #353535;
  padding-top: 20px;
  margin-top: 80px;
  padding-bottom: 30px;
}
.footer .contact {
  width: 300px;
  margin-left: 15px;
}
.footer h3 {
  font-family: "shrikhandregular", sans-serif;
  color: white;
  margin-top: 10px;
  font-size: 1.4em;
  font-weight: lighter;
}
.footer ul {
  padding: 0px;
}
.footer ul li {
  color: white;
  list-style: none;
  margin-bottom: 10px;
  font-family: "roboto", sans-serif;
}
.footer ul li a {
  font-family: "roboto", sans-serif;
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 426px) {
  header i {
    margin-left: 25px;
    font-size: 50px;
  }
  header img {
    margin: auto;
    width: 450px;
    height: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .page {
    width: 90%;
    margin: auto;
  }

  .carte_menu {
    height: 2020px;
  }

  .btn {
    width: 70%;
    height: 120px;
    margin: auto;
    margin-bottom: 20px;
  }
  .btn .detail {
    width: 90%;
  }
  .btn .detail p {
    font-size: 25px;
    width: 360px;
  }
  .btn .detail p span {
    font-size: 20px;
  }

  .btn:hover {
    box-shadow: 0px 0px 20px #5c5b5b;
  }

  .type {
    font-size: 2em;
    text-align: center;
  }

  .title {
    width: 100%;
    flex-direction: column;
    text-align: center;
    margin: auto;
    margin-left: -30px;
  }
  .title h1 {
    font-size: 6em;
    width: 600px;
    margin-left: 150px;
  }
  .title i {
    width: 0px;
    font-size: 3.5em;
    margin-left: 50px;
  }
  .title svg {
    z-index: 30;
    left: 10px;
    width: 60px;
    height: 30px;
    zoom: 2;
  }

  .envoi {
    margin-top: -165px;
  }

  .enchanted-carte {
    height: 2360px;
  }

  .order-pate {
    margin-top: -169px;
  }

  .footer {
    height: 450px;
  }
  .footer .contact {
    font-size: 20px;
    margin: auto;
    margin-top: 125px;
    width: 70%;
  }
}
@media screen and (max-width: 425px) {
  header i {
    margin-left: 5px;
  }
  header img {
    margin: auto;
  }

  .page {
    width: 100%;
  }

  header {
    width: 100%;
  }

  .img img {
    width: 100%;
  }

  .carte_menu {
    width: 100%;
    height: 1350px;
  }

  .enchanted-carte {
    height: 1410px;
  }

  .envoi {
    margin-top: -168px;
  }

  .btn:hover {
    box-shadow: 0px 0px 20px #5c5b5b;
  }

  .order {
    margin-top: -165px;
  }

  .full-envoi {
    padding-top: 41px;
    margin-bottom: -38px;
  }

  .title h1 {
    font-size: 1.6em;
    width: 80%;
    position: absolute;
    top: 10px;
  }
  .title i {
    width: 100%;
    font-size: 35px;
    font-weight: lighter;
    text-align: right;
    margin-right: -22px;
  }
  .title .restaurant-carre {
    opacity: 1;
    position: relative;
    margin-left: 15px;
    left: -24px;
    margin-bottom: 0px;
    margin-top: 10px;
    zoom: 1.35;
  }

  .title svg {
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 320px) {
  header i {
    margin-left: 5px;
  }
  header img {
    margin: auto;
  }

  .btn .detail p {
    font-size: 16px;
    width: 190px;
  }
  .btn .detail span {
    font-size: 13px;
  }

  .title h1 {
    font-size: 1.4em;
    width: 80%;
    position: absolute;
    top: 10px;
  }
  .title i {
    width: 100%;
    font-size: 35px;
    font-weight: lighter;
    text-align: right;
    margin-right: -27px;
  }
  .title .restaurant-carre {
    opacity: 1;
    position: relative;
    margin-left: 15px;
    left: -20px;
    margin-bottom: 0px;
    margin-top: 10px;
    zoom: 1.35;
  }

  .title svg {
    width: 30px;
    height: 30px;
  }
}
@font-face {
  font-family: "shrikhandregular";
  src: url("./font/shrikhand-regular-webfont.woff2") format("woff2"), url("./font/shrikhand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoregular";
  src: url("./font/roboto-regular-webfont.woff2") format("woff2"), url("./font/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.contenu :hover .animation {
  transform: scale(1);
  transform-origin: 50% 0%;
  width: 200px;
  transition: 800ms;
}
.contenu :hover .circle {
  transform: rotate(-360deg);
  opacity: 1;
  font-size: 35px;
  transition: 400ms;
}
.contenu .tarif {
  display: flex;
}
.contenu .envoi {
  display: inline-flex;
  width: 711px;
  margin: auto;
  border: transparent;
}
.contenu .explore {
  width: 350px;
  height: 70px;
  margin-left: 150px;
  border-radius: 35px;
  font-size: 1.6em;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  margin-top: 70px;
  text-align: center;
  box-shadow: 1px 6px 17px -5px #636262;
  border: transparent;
}
.contenu .explore:hover {
  box-shadow: 1px 6px 17px -1px #706f6f;
  border: transparent;
}

/*# sourceMappingURL=menu.css.map */
