.entree{
    opacity: 0;
    animation-name: entree;
    animation-duration: 800ms;
    animation-fill-mode: both;
    @keyframes entree {
        0%{
           
            opacity: 0;
        }
        100%{
            opacity: 1;
            
        }
    }
}
.main-dish{
   opacity: 0;
   animation-name: main-dish;
   animation-timing-function: cubic-bezier(0.33, 0, 0.15, 0.99);
   animation-duration:800ms;
   animation-delay: 300ms;
   animation-fill-mode: both;
   @keyframes main-dish {
    0%{
       opacity: 0;
    }
    100%{
       opacity: 1;
    }
       
   }
}
.dessert{
   opacity: 0;
   animation-name: dessert;
   animation-timing-function: cubic-bezier(0.33, 0, 0.15, 0.99);
   animation-duration: 800ms;
   animation-delay: 700ms;
   animation-fill-mode: both;
   @keyframes dessert{
    0%{
       opacity: 0;
    }
    100%{
       opacity: 1;
    }
       
   }
}


@keyframes svg {
0% {
  background-color: white;
  
}
10% {
  background: linear-gradient(0deg, #FF79DA 0%, #9356DC 10%, white 0%);
}
15% {
  background: linear-gradient(0deg, #FF79DA 0%, #9356DC 15%, white 5%);
}
20% {
  background: linear-gradient(0deg, #FF79DA 0%, #9356DC 20%, white 10%);
}
25% {
  background: linear-gradient(0deg, #FF79DA 0%, #9356DC 25%, white 15%);
}
30% {
  background: linear-gradient(0deg, #FF79DA 0%, #9356DC 30%, white 20%);
}
35% {
  background: linear-gradient(0deg, #FF79DA 0%, #9356DC 35%, white 25%);
}
40% {
  background: linear-gradient(0deg, #FF79DA 0%, #9356DC 40%, white 30%);
}
45% {
  background: linear-gradient(0deg, #FF79DA 0%, #9356DC 45%, white 35%);
}
50% {
  background: linear-gradient(0deg, #FF79DA 0%, #9356DC 50%, white 40%);
}
55% {
  background: linear-gradient(0deg, #FF79DA 0%, #9356DC 55%, white 45%);
}
60% {
  background: linear-gradient(0deg, #FF79DA 0%, #9356DC 60%, white 50%);
}
65% {
  background: linear-gradient(0deg, #FF79DA 0%, #9356DC 65%, white 55%);
}
70% {
  background: linear-gradient(0deg, #FF79DA 0%, #9356DC 70%, white 60%);
}
75% {
  background: linear-gradient(0deg, #FF79DA 0%, #9356DC 75%, white 65%);
}
80% {
  background: linear-gradient(0deg, #FF79DA 0%, #9356DC 80%, white 70%);
}
85% {
  background: linear-gradient(0deg, #FF79DA 0%, #9356DC 85%, white 75%);
}
90% {
  background: linear-gradient(0deg, #FF79DA 0%, #9356DC 90%, white 80%);
}
95% {
  background: linear-gradient(0deg, #FF79DA 0%, #9356DC 95%, white 85%);
}
100% {

  background: linear-gradient(0deg, #FF79DA 0%, #9356DC 100%, white 90%);
}
}


