





body{
  margin: 0px;
  padding: 0px;
}
.page{
  width: 100%;
  margin-left: 0px;
}


/*--  image menu--*/
@media screen and (max-width:2560px){
  .page{
    width: 100%;
    margin-left: 0px;
  }
  .img img{
    width: 100%; 
    
  } 
}


/*-- carte des menu --*/
/*-- debut--*/

@media screen and (max-width:2560px){
  /*-- contour de carte --*/
   .carte_menu{
     width: 100%;
     height: 1600px;
     background-color:$color-menu;
       
      border-top-right-radius: 50px;
      border-top-left-radius: 50px;
      margin-top: -105px;
      position: relative;
   }

   /*-- titre + logo coeur --*/
   .title{
    display: flex;
    align-items: center;
    i{
      width: 100%;
      font-size: 35px;
      font-weight: 350;
      text-align: right;
      margin-right: 35px;
      
    }
    h1{
      font-family:'shrikhandregular',sans-serif;
      margin-bottom: 25px;
      align-items: center;
      margin-right: 50px;
      font-size: 2em;
      
      font-weight: lighter;
    }
}
    
}

@media screen and (max-width:1440px){
  /*-- contour de carte --*/
   .carte_menu{
     width: 100%;
     height: 1600px;
      background-color: $color-menu;
       
      border-top-right-radius: 50px;
      border-top-left-radius: 50px;
      margin-top: -105px;
      position: relative;
   }

   /*-- titre + logo coeur --*/
   .title{
    display: flex;
    align-items: center;
    i{
      width: 100%;
      font-size: 35px;
      font-weight: 350;
      text-align: right;
      margin-right: 35px;
    }
    h1{
      font-family:'shrikhandregular',sans-serif;
      margin-bottom: 25px;
      align-items: center;
      margin-right: 50px;
      font-size: 2em;
      
      font-weight: lighter;
    }
}

}
@media screen and (max-width:1024px){
  /*-- contour de carte --*/
   .carte_menu{
     width: 100%;
     height: 1600px;
      background-color:$color-menu;
       
      border-top-right-radius: 50px;
      border-top-left-radius: 50px;
      margin-top: -105px;
      position: relative;
   }

   /*-- titre + logo coeur --*/
   .title{
    display: flex;
    align-items: center;
    i{
      width: 100%;
      font-size: 35px;
      font-weight: 350;
      text-align: right;
      margin-right: 35px;
    }
    h1{
      font-family:'shrikhandregular',sans-serif;
      margin-bottom: 25px;
      align-items: center;
      margin-right: 50px;
      font-size: 2em;
      
      font-weight: lighter;
    }
}

}
@media screen and (max-width:768px){
  /*-- contour de carte --*/
   .carte_menu{
     width: 100%;
     height: 1600px;
      background-color: $color-menu;
       
      border-top-right-radius: 50px;
      border-top-left-radius: 50px;
      margin-top: -105px;
      position: relative;
   }

   /*-- titre + logo coeur --*/
   .title{
    display: flex;
    align-items: center;
    i{
      width: 100%;
      font-size: 35px;
      font-weight: 350;
      text-align: right;
      margin-right: 35px;
    }
    h1{
      font-family:'shrikhandregular',sans-serif;
      margin-bottom: 25px;
      align-items: center;
      margin-right: 50px;
      font-size: 2em;
      
      font-weight: lighter;
    }
    }

}
@media screen and (max-width:425px){
  /*-- contour de carte --*/
   .carte_menu{
     width: 100%;
     height: 1600px;
      background-color: $color-menu;
       
      border-top-right-radius: 50px;
      border-top-left-radius: 50px;
      margin-top: -54px;
      position: relative;
   }

   /*-- titre + logo coeur --*/
   .title{
    display: flex;
    align-items: center;
    margin-left: 15px;
    i{
      width: 100%;
      font-size: 35px;
      font-weight: 350;
      text-align: right;
      margin-right: 35px;
      
    }
    .heart{
     
        width: 36px;
        margin-left: -50px;
        transform-origin: bottom center;
        transform: scale(0.1);
        transition: 1200ms;
        :hover{
          transform: scale(1);
        }
      
    }
    h1{
      font-family:'shrikhandregular',sans-serif;
      margin-bottom: 25px;
      align-items: center;
      margin-right: 50px;
      font-size: 2em;
      
      font-weight: lighter;
    }
    }
    .entree, .main-dish, .dessert{
      margin-left: 15px;
    }
    .menu{
      display: flex;
     width: 680px;
     border-radius: 15px;
     height: 70px;
     font-family: 'roboto',sans-serif;
     box-shadow: 0px 0px 20px rgb(189, 188, 188);
     margin-bottom: 15px;
     
     }
     
     
    .btn{
       width: 95%;
       height: 100px;
       
       box-shadow: 0px 0px 20px #bdbcbc;
       border-radius: 15px;
       font-family: 'roboto',sans-serif;
       display: flex;
       margin-bottom: 15px;
      
       text-overflow: ellipsis;
       white-space: nowrap;
       overflow: hidden;
       flex-grow: 1;
       .detail p{/*--- police ecriture menu--*/
        font-size:18px;
        font-weight: bold;
        width: 264px;
        padding-left: 15px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        span{
          font-weight: 300;
          font-size: 16px;
        }
    }
    
    .prix{
        width: 120px;
        display: flex;
        margin-left: 10px;
        justify-content: center;
        align-items: flex-end;
        font-size: 20px;
        font-weight: bold;
    }
    .animation{
        background-color: #99e2c0;
        color: white;
        justify-content: center;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        width: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
    }
    .circle{
      font-size: 1.2em;
      transition: 700ms;
      opacity: 0;
    }
       
   }


















}

/*-- carte des menu --*/
/*-- fin-- */





























 /*--
    
      
    
     
     
     .menu{
       display: flex;
      width: 680px;
      border-radius: 15px;
      height: 100px;
      font-family: 'roboto',sans-serif;
      box-shadow: 0px 0px 20px rgb(189, 188, 188);
      margin-bottom: 15px;
      
      }
      
      
     .btn{
        width: 90%;
        height: 100px;
        
       box-shadow: 0px 0px 20px #bdbcbc;
        border-radius: 15px;
        font-family: 'roboto',sans-serif;
        display: flex;
        margin-bottom: 15px;
       
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        flex-grow: 1;
        
        
    }
   
    .detail p{
        font-size: 1.4em;
        font-weight: bold;
        width: 519px;
        padding-left: 15px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        span{
          font-weight: 300;
          font-size: 20px;
        }
    }
    
    .prix{
        width: 120px;
        display: flex;
        margin-left: 10px;
        justify-content: center;
        align-items: flex-end;
        font-size: 20px;
        font-weight: bold;
    }
    .animation{
        background-color: #99e2c0;
        color: white;
        justify-content: center;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        width: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
    }
    .circle{
      font-size: 1.2em;
      transition: 700ms;
      opacity: 0;
    }
  
  */


