
@media screen and (max-width:425px){
    .envoi{
        width: 250px;
        position: relative;
       
        margin: auto;
        z-index: 30;
        .explore{
            width: 240px;
            font-size: 1.8em;
            background: $color-order;
            border-radius: 30px;
            border: transparent;
            height: 60px;
            color: $color-blanc;
        } 
    }
}




