@media screen and (max-width:425px){
  .footer{
   
    width:100%;
   
    background-color: $color-footer ;
    padding-top: 20px;
    margin-top: 80px;
    padding-bottom: 30px;
    
    .contact{
      width:300px ;
      margin-left: 15px;
    }
    h3{
      font-family: 'shrikhandregular',sans-serif;
      color: $color-blanc;
      margin-top: 10px;
      font-size: 1.4em;
      font-weight: lighter;
    }
    ul{
      padding: 0px;
       
       li {
           color:$color-blanc;
           list-style: none;
           margin-bottom: 10px;
           font-family: 'roboto',sans-serif;
           
           a{
             font-family: 'roboto',sans-serif;
               color: $color-blanc;
               text-decoration: none;
              
           }
       }
     }
  }
}











/*


   
  }
  ul{
   padding: 0px;
    
    li {
        color: white;
        list-style: none;
        margin-bottom: 10px;
        font-family: 'roboto',sans-serif;
        
        a{
          font-family: 'roboto',sans-serif;
            color: white;
            text-decoration: none;
           
        }
    }
  }
  .fa-utensils:before{
    color: white;
    margin-right: 10px;
  }
  .fa-hands-helping:before{
    color: white;
    margin-right: 10px;
    font-size: 11px;
  }*/