$color-prim:#9356DC;
$color-sec:#FF79DA;
$color-ter:#99E2D0;
$color-clair:rgb(255, 254, 254);
$color-black:black;
$color-sombre:#353535;
$color-white:#FFFF;
$color-gray:rgb(128,128,128);
$color-gray_clair:rgb(246,246,246);
$color-map:rgb(234,234,234);
$color-btn_explore:linear-gradient(#FF79DA,#9356DC);
$color-logo_fas:#757474;
$color-choix3:rgba(147,86,220,0.2);